#cards_btn {
	font-size: 0.8em;
	margin-top: 0.1em;
	border-radius: 50%;
}

body.cards {
	/* Set the background to gray to visualize the page size in the print preview */
	background-color: lightgray;
	min-width: initial !important;
	margin: 0 !important;
	--border-radius: 0;
}

body.cards main#lienzo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 210mm;
	margin: auto;
}

body.cards main article.result:first-child,
body.cards main article.result:nth-child(2),
body.cards main article.result:nth-child(3) {
	margin-top: 15.15mm;
}

body.cards main article.result:nth-child(9n + 7),
body.cards main article.result:nth-child(9n + 8),
body.cards main article.result:nth-child(9n + 9) {
	margin-bottom: 30.3mm;
}

body.cards article.result {
	padding: 5px 10px;
	height: 3.5in;
	width: 2.5in;
	display: flex;
	flex-direction: column;
	border: 1px dashed lightgray;
	border-radius: var(--border-radius);
	position: relative;
}

body.cards header>h1,
body.cards header>h2 {
	font-size: 15px;
	padding-bottom: 0.5em;
}

body.cards header>h1 svg {
	display: none;
}

body.cards section.traits {
	display: flex;
	align-items: flex-start;
}

body.cards section.traits>div {
	flex-wrap: wrap
}

body.cards section.traits>div>h3 {
	font-size: 10px;
	padding: 0.1em 0.5em;
}

body.cards section.details>p {
	font-size: 11px;
	line-height: 1.25em;
	letter-spacing: -0.3px;
}

body.cards .parte2 section>p,
body.cards .parte2 section li,
body.cards article:after,
body.cards article:before {
	font-size: 11px;
	line-height: 1.25em;
}

body.cards article.result a {
    background: none;
}

body.cards .parte2 section ul {
	margin-bottom: 0;
	padding-left: 0.75em;
}

body.cards .parte2 section p.tab0 {
    text-indent: -1em;
    margin-left: 1em;
}

body.cards .parte2 section label.nolink {
    margin: 0;
}

body.cards .big .parte2 section>p,
body.cards .big .parte2 section li,
body.cards .big:after,
body.cards .big:before {
	font-size: 10px;
}

body.cards .bigger .parte2 section>p,
body.cards .bigger .parte2 section li,
body.cards .bigger:after,
body.cards .bigger:before {
	font-size: 9px;
}

body.cards .tinier .parte2 section>p,
body.cards .tinier .parte2 section li,
body.cards .tinier:after,
body.cards .tinier:before {
	font-size: 13px;
}

body.cards .tiny .parte2 section>p,
body.cards .tiny .parte2 section li,
body.cards .tiny:after,
body.cards .tiny:before {
	font-size: 12px;
}

body.cards .result.continue:after, 
body.cards .result.back:before {
	font-family: Goodot;
	font-weight: bold;
}

body.cards .result.continue:after {
	content: '(Continued on back)';
	position: absolute;
    bottom: 10px;
    left: 10px;
}

body.cards .result.back:before {
	content: '(Continued from front)';
}

body.cards .result.back .content.first p:not(.tab0) {
	text-indent: 1em;
}

@media print {
	@page {
		margin: 0;
		size: 210mm 297mm !important;
		-webkit-print-color-adjust: exact;
	}

	body.cards>header {
		display: none !important;
	}

	body.cards, body.cards main#lienzo {
		background-color: initial;
	}
}