#cards_btn {
	font-size: 0.8em;
	margin-top: 0.1em;
	border-radius: 50%;
}

body.cards {
	/* Set the background to gray to visualize the page size in the print preview */
	background-color: lightgray;
	min-width: initial !important;
	margin: 0 !important;
	--border-radius: 0;
}

body.cards main#lienzo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 210mm;
	margin: auto;
	margin-bottom: 50px;
	gap: 0;
	padding: 0;
}

body.cards main article.result:nth-child(9n + 1),
body.cards main article.result:nth-child(9n + 2),
body.cards main article.result:nth-child(9n + 3) {
	margin-top: 15.215mm;
}

body.cards main article.result:nth-child(9n + 7),
body.cards main article.result:nth-child(9n + 8),
body.cards main article.result:nth-child(9n + 9) {
	/* width main: 210mm */
	/* margin-bottom: 15.215mm;  */
	/* width main: 211mm */
	margin-bottom: 15.745mm;
}

body.cards article.result {
	padding: 5px 10px !important;
	height: 3.5in;
	width: 2.5in;
	display: flex;
	flex-direction: column;
	border: 1px dashed lightgray;
	border-radius: var(--border-radius);
	position: relative;
	margin-bottom: 0 !important;
}

body.cards article.result:not(:hover) .actions {
	display: none;
}

body.cards article.result .actions {
	position: absolute;
	background: white;
	z-index: 1;
	right: 100%;
	display: block;
	width: max-content;
	padding: 5px;
}

body.cards header>h1,
body.cards header>h2 {
	font-size: 15px;
	padding-bottom: 0.5em;
}

body.cards header>h1 svg {
	display: none;
}

body.cards section.traits {
	display: flex;
	align-items: flex-start;
}

body.cards section.traits>div {
	flex-wrap: wrap
}

body.cards section.traits>div>h3 {
	font-size: 10px;
	padding: 0.1em 0.5em;
}

body.cards section.details>p {
	font-size: 11px;
	line-height: 1.25em;
	letter-spacing: -0.3px;
}

body.cards section.details span.source {
	font-family: GoodOT, sans-serif;
}

body.cards article.result.hideSource section.details span.source {
	display: none;
}

body.cards .parte2 {
	overflow-y: auto;
}

body.cards .parte2 section,
body.cards .parte2 section>p,
body.cards .parte2 section li,
body.cards article:after,
body.cards article:before {
	font-size: 11px;
	line-height: 1.25em;
	font-family: GoodOT, sans-serif;
}

body.cards article.result a {
	background: none;
}

body.cards .parte2 section ul {
	margin-bottom: 0;
	padding-left: 0.75em;
}

body.cards .parte2 section p.tab0 {
	text-indent: -1em;
	margin-left: 1em;
}

body.cards .parte2 section actions {
	font-family: 'GoodOT', sans-serif
}

body.cards .parte2 section actions::before {
	font-family: 'Pathfinder_Icons', sans-serif;
	font-style: normal;
	font-size: 0.9em;
}

body.cards .parte2 section actions[string="Reaction"]::before {
	content: "\E904";
}

body.cards .parte2 section actions[string="Free Action"]::before {
	content: "\E903";
}

body.cards .parte2 section actions[string="Single Action"]::before {
	content: "\E902";
}

body.cards .parte2 section actions[string="Two Actions"]::before {
	content: "\E901";
}

body.cards .parte2 section actions[string="Three Actions"]::before {
	content: "\E900";
}

body.cards .parte2 section label.nolink {
	margin: 0;
}

body.cards .big .parte2 section>p,
body.cards .big .parte2 section li,
body.cards .big:after,
body.cards .big:before {
	font-size: 10px;
}

body.cards .bigger .parte2 section>p,
body.cards .bigger .parte2 section li,
body.cards .bigger:after,
body.cards .bigger:before {
	font-size: 9px;
}

body.cards .tinier .parte2 section>p,
body.cards .tinier .parte2 section li,
body.cards .tinier:after,
body.cards .tinier:before {
	font-size: 13px;
}

body.cards .tiny .parte2 section>p,
body.cards .tiny .parte2 section li,
body.cards .tiny:after,
body.cards .tiny:before {
	font-size: 12px;
}

body.cards .result.continue:after,
body.cards .result.back:before {
	font-family: GoodOT, sans-serif;
	font-weight: bold;
}

body.cards .result.continue:after {
	content: '(Continued on back)';
	position: absolute;
	bottom: 10px;
	left: 10px;
}

body.cards .result.back:before {
	content: '(Continued from front)';
}

body.cards .result.back .content.first p:not(.tab0) {
	text-indent: 1em;
}

@media print {
	@page {
		margin: 0;
		size: 210mm 297mm !important;
		-webkit-print-color-adjust: exact;
	}

	body.cards main#lienzo {
		margin-bottom: 0;
	}

	body.cards>header,
	body.cards article.result .slider {
		display: none !important;
	}

	body.cards .parte2 {
		overflow-y: initial;
	}

	body.cards,
	body.cards main#lienzo {
		background-color: initial;
	}
}